.container {
  height: 100%;
  width: 100%;
}

.bot-container {
  background-color: rgb(0, 0, 0);
  background-image: linear-gradient(
    64deg,
    rgb(76, 76, 76),
    rgb(39, 39, 39),
    rgb(0, 0, 0)
  );
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
  border-radius: 1em;
}

.bot-header {
  padding: 28px 28px 0px;
}

@media (max-width: 1023px) {
  .bot-header {
    padding: 1em 1em 0px;
  }
}

.bot-header-logo {
  width: 3em;
}

.bot-header-heading {
  color: rgb(255, 255, 255);
  font-weight: 300;
  line-height: 34px;
  margin: 0px;
  font-size: 2em;
}

.bot-header-question {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
  line-height: 20px;
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 28px;
}

@media (max-width: 1023px) {
  .bot-header-heading {
    line-height: 1em;
    font-size: 1.5em;
  }

  .bot-header-question {
    line-height: 0.5em;
    font-size: 1em;
  }
}

.bot-mic-circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.bot-mic-circle > img {
  filter: invert(100%) sepia(0%) saturate(7451%) hue-rotate(109deg)
    brightness(119%) contrast(105%);
}

@media (max-width: 1023px) {
  .bot-mic-circle {
    padding: 1em;
    cursor: pointer;
  }

  .bot-mic-circle > img {
    height: 1.5em;
    width: 1.5em;
  }
}

.bot-mic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  overflow: hidden;
  height: 15em;
}

@media (max-width: 1023px) {
  .bot-mic-container {
    margin: 1em 0 1em 0;
    overflow: hidden;
    height: 8em;
  }
}

.bot-listening-heading {
  text-align: center;
  margin-top: 100px;
  color: rgb(255, 255, 255);
  font-weight: 200;
  line-height: 34px;
  font-size: 36px;
}

.bot-recognised-text {
  margin: 0;
  height: 3em;
  text-align: center;
  color: rgb(255, 255, 255);
}

.bot-mic-wave {
  border-radius: 50%;
  background-color: aliceblue;
  opacity: 0.7;
  min-width: 7em;
  min-height: 7em;
}

.bot-outer-wave {
  position: absolute;
  border-radius: 50%;
  background-color: #f7f7f9;
  opacity: 0.3;
  min-width: 10em;
  min-height: 10em;
}

@media (max-width: 1023px) {
  .bot-listening-heading {
    margin-top: 2em;
    line-height: 1em;
    font-size: 1.5em;
  }

  .bot-recognised-text {
    font-size: 1em;
  }

  .bot-mic-wave {
    min-width: 6em;
    min-height: 6em;
  }

  .bot-outer-wave {
    min-width: 8em;
    min-height: 8em;
  }
}
