:root {
  --color-sky-blue: #00bae9;
  --color-space-grey: #2e3841;
  --color-sun-orange: #faa21b;
  --color-earth-green: #70bf54;
  --color-ocean-blue: #118acb;
  --color-blanc: #f1f1f1;
  --color-white: #fff;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#my-extension-root {
  margin: 0;
  padding: 0;
  width: 400px;
  height: 50%;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: white;
  box-shadow: 0px 0px 5px #0000009e;
}

#my-extension-root iframe {
  width: 100%;
  height: 100%;
  border: none;
}
